{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>User Details</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h4>Basic Information</h4>
                    <table class="table">
                        {% for user in users %}
                            <tr>
                                <th>Username:</th>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <th>Email:</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th>Phone:</th>
                                <td>{{ user.phone }}</td>
                            </tr>
                            <tr>
                                <th>Role:</th>
                                <td>{{ user.role }}</td>
                            </tr>
                            <tr>
                                <th>Created At:</th>
                                <td>{{ user.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                
                {% if client_profile %}
                <div class="col-md-6">
                    <h4>Client Profile</h4>
                    <table class="table">
                        <tr>
                            <th>Full Name:</th>
                            <td>{{ client_profile.full_name }}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{{ client_profile.email }}</td>
                        </tr>
                        <tr>
                            <th>Phone:</th>
                            <td>{{ client_profile.phone }}</td>
                        </tr>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %} 